label {
    display: block;
    margin: 0 0 5px 0;
}
input, textarea,select {
    display: block;
    width: 400px;
    margin: 0 0 10px 0;
    border: 1px solid gainsboro;
    padding: 5px;
    outline: none;
    border-radius: 5px;
}
select {
    width: 412px;
}
.button {
    display: block;
    background-color: #08d092;
    width: 144px;
    height: 32px;
    border-radius: 16px;
    border: none;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    outline: none;
    text-align: center;
    margin: 10px;
}
.ui-widget {
    font-size: 16px;
}
.ui-widget-header-info {
    border: 1px solid #aaaaaa;
    background: #08d092;
    color: #fff;
    font-weight: bold;
}
.ui-widget-header-error {
    border: 1px solid #aaaaaa;
    background: #d74a5c;
    color: #fff;
    font-weight: bold;
}
.ui-dialog .ui-dialog-titlebar-close {
    outline: none;
}
.ui-datepicker {
    width: 400px;
}
.ui-datepicker-title select {
    display: inline-block;
}

